amqp
asgiref
backports.zoneinfo
billiard
bson
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
Django
django-cors-headers
django-crontab
django-rest-framework
djangorestframework
dnspython
ffmpeg-python
future
idna
kombu
prompt-toolkit
psutil
pycparser
pymongo
python-dateutil
pytz
requests
six
sqlparse
typing-extensions
tzdata
urllib3
uWSGI
vine
wcwidth
